<section class="w-75 mx-auto shadow rounded p-4 my-3 bg-main-light">

    <h1 class="my-3">Register Now</h1>


    <form [formGroup]="RegesterForme" (ngSubmit)="handelForme()">


<div class="form-Item">

<label for="name">name :</label>

<input formControlName="name" type="text"  class=" form-control" id="name" >

<div *ngIf="RegesterForme.get('name')?.errors &&  RegesterForme.get('name')?.touched    " class= "alert alert-danger p-1 small w-25 mx-auto">

<p class="mb-0" *ngIf="RegesterForme.get('name')?.getError('required')" >Name is Required</p>

<p class="mb-0" *ngIf="RegesterForme.get('name')?.getError('minlength')">Name is minLength(3) </p>

<p class="mb-0" *ngIf="RegesterForme.get('name')?.getError('maxlength')">Name is maxLength(20)</p>

</div>

</div>


    <div class="form-Item">

        <label for="email">email :</label>
        
        <input formControlName="email" type="email"  class=" form-control" id="email" >
        
        <div *ngIf="RegesterForme.get('email')?.errors &&  RegesterForme.get('email')?.touched    " class= "alert alert-danger p-1 small w-25 mx-auto">

            <p class="mb-0" *ngIf="RegesterForme.get('email')?.getError('required')" >email is Required</p>
            
            <p class="mb-0" *ngIf="RegesterForme.get('email')?.getError('email')">email InValid Format  </p>
            
            
            
            </div>
        </div>

        <div class="form-Item">

            <label for="password">password :</label>
            
            <input formControlName="password" type="password"  class=" form-control" id="password" >
            
            <div *ngIf="RegesterForme.get('password')?.errors &&  RegesterForme.get('password')?.touched    " class= "alert alert-danger p-1 small w-25 mx-auto">

                <p class="mb-0" *ngIf="RegesterForme.get('password')?.getError('required')" >password is Required</p>
                
                <p class="mb-0" *ngIf="RegesterForme.get('password')?.getError('pattern')">must be at least 6 chars  </p>
                
                
                
                </div>
            </div>

            <div class="form-Item">

                <label for="rePassword">rePassword :</label>
                
                <input formControlName="rePassword" type="password"  class=" form-control" id="rePassword" >
                
                <div *ngIf="RegesterForme.get('rePassword')?.errors &&  RegesterForme.get('rePassword')?.touched    " class= "alert alert-danger p-1 small w-25 mx-auto">

                    <p class="mb-0" *ngIf="RegesterForme.get('rePassword')?.getError('required')" >rePassword is Required</p>
                    
                    <p class="mb-0" *ngIf="RegesterForme.get('rePassword')?.getError('mismatch')"> Password confirmation is incorrect  </p>
                    
                    
                    
                    </div>
                </div>

            <div class="form-Item">

                <label for="phone">phone :</label>
                
                <input formControlName="phone" type="tel"  class=" form-control" id="phone" >
                
                <div *ngIf="RegesterForme.get('phone')?.errors &&  RegesterForme.get('phone')?.touched    " class= "alert alert-danger p-1 small w-25 mx-auto">

                    <p class="mb-0" *ngIf="RegesterForme.get('phone')?.getError('required')" >phone is Required</p>
                    
                    <p class="mb-0" *ngIf="RegesterForme.get('phone')?.getError('pattern')">accept only egypt phone numbers  </p>
                    
                    
                    
                    </div>
                </div>

<button [disabled]="RegesterForme.invalid" class="main-btn mt-2">Regaster

    <span *ngIf="isLoding" class="fas fa-spin fa-spinner"></span>
</button>






    </form>

<p *ngIf="errmsg" class="alert alert-danger p-1 w-25 mx-auto mb-0 ">{{errmsg}}</p>


</section>










